.portfolio-header {
    position: relative;
    background-image: url(glitch.jpg);
    */ background-color: #c3b5a2;
}

.portfolio-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mdl-layout__title {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.mdl-button--accent.mdl-button--accent {
    color: rgb(106, 175, 255);
}

.portfolio-logo-row {
    min-height: 200px;
}


.portfolio-logo {
    /*background: url(Logo.png) 50% no-repeat;*/
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: auto auto 10px;
}

.mdl-logo{
    color: aqua;
}

.mdl-mini-footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 32px 16px;
    color: aquamarine;
    background-color: #424242;
}

.portfolio-navigation-row {
    background-color: rgb(51, 50, 50);
    text-transform: uppercase;
    height: 45px;
}

.portfolio-navigation-row .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 42px;
    color: aqua;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgb(101, 99, 99);
}

.portfolio-navigation-row .is-active {
    position: relative;
    font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(50, 75, 212);
    left: 15%;
}

.portfolio-card .mdl-card__title {
    padding-bottom: 0;
}

.portfolio-blog-card-full-bg {
    background: url(images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
    background: url(images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
    background: url(images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
    padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.mdl-mega-footer__heading {
    position: relative;
    width: 100%;
    padding-right: 39.8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 23.8px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: cyan;
    }

.mdl-mega-footer{
    color: aquamarine;
}
    .img.article-image {
        width: 100%;
        height: auto;
    }

    .portfolio-max-width {
        max-width: 900px;
        margin: auto;
    }

    .portfolio-copy {
        max-width: 700px;
    }

    .no-padding {
        padding: 0;
    }

    .no-left-padding {
        padding-left: 0;
    }

    .no-bottom-padding {
        padding-bottom: 0;
    }

    .padding-top {
        padding: 10px 0 0;
    }

    .portfolio-share-btn {
        position: relative;
        float: right;
        top: -4px;
    }

    .undertext {
        font-size: 14px;
        font-style: italic;
    }

    ul li {
        list-style: none;
    }

    .text {
        font-size: 16px;
    }

    .demo-card-event > .mdl-card__actions {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        box-sizing: border-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .portfolio-contact .mdl-textfield {
        width: 100%;
    }

    .portfolio-contact form {
        max-width: 550px;
        margin: auto;
    }

    footer {
        background-image: none;
        background-size: cover;
    }

    .center1 {
        text-align: center;
    }

    #lowres {
        display: inherit;
    }

    #highres {
        display: none;
    }

    @media only screen and (min-device-height : 800px) {
        #lowres {
            display: none;
        }

        #highres {
            display: initial;
        }
    }
